h1{
    text-align: center;
    padding-bottom: 20px;
}

#chart{
    padding-left: 0px;
}

#panel{
    background: url(img/panel.png) repeat-x;
    width: 550px;
    height: 385px;
    position:relative;
}

.legend {
    border-radius: 4px;
    position: relative;
    margin-top: 10px;
    font-size: 10pt; 
    width:15px; 
    height:15px;
}

.labely { 
    position: relative;
    left: -4em;
    transform: rotate(-90deg);
    top: 100px;
    text-align: left;
    float: left;
    display:none;

}  

.customchart .labely{
    left: -4.6em;
}

@media screen and (min-width: 480px) {
    .labely { 
        top: 200px;
    }  
}


.labelx{
    position: relative;
    clear: left;
    display:none;
}

.info{
    padding:10px; 
    background-color: #eee; 
    border: 1px solid #ddd;
    margin-top: 30px;
}

.settings{
    padding-top: 15px;
    padding-bottom:15px;
}
select.form-control {
    margin-bottom: 4px;
    margin-top: 4px;
    padding-right: 0px;
    padding-left: 0px;
}
.btn-group{
    margin-bottom: 10px;
}
.btn-group button{
    height: 35px;
}

#matches{
    padding: 0px;
}

#matches div.row div{
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width: 770px) {
    select.form-control {
        padding-right: 15px;
        padding-left: 15px;
    }
    #matches div.row div{
        padding-left: 20px;
        padding-right: 20px;
    }

}

.removechart{
    position: relative;
    float:left;
}

.info-bars{
    position: absolute;
    height:auto;
    width:100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 30px;
}

.versus{
    margin-top: 10px;
    margin-bottom: 5px;
}

#start{
    margin-top: 15px;
}

#canvas{
    display: none;
}