
#example-board{
	background: #ecf0f1;
	margin-bottom: 10px !important;
	border-radius: 10px;
}
.exp-img{
	height: 50px;
	width: 100px;
}

p{
	margin-bottom: 0px !important;
	margin-left: 0px !important;
}