h1{
    text-align: center;
    padding-bottom: 20px;
}

#menu{
    margin: 0 0 0 4px;
}
.panel-title{
    background-color: #00979C;
}

@-moz-document url-prefix() {
    #menu{
        margin: -15px 0 0 4px;
    }
}

.btn-sm-custom{

    opacity: 0.65;
    border:0;
    box-shadow: none;
    margin: 0;
    background-color: white;
    height: 25px;
    width: 25px;
}

.round{
    border-radius: 50% 50%;

}
.square{
    border-radius: 0 0;
    margin-top: -5px;

}
.fa{
    margin-left:-4px;
}
#tab{
    height: 30px;
    font-size: 10pt;
    min-width: 100px;
}
#output{
    width: 100%;
    height: 150px;
    overflow: auto;
    background-color: black;
    color: white;
    padding:10px;
    border:0;
    border-bottom: 10px solid black;
}



#verify_bar{
    width: 100%;
    height: 35px;
    background-color: #00979C;
    border-top: solid 1px grey;
    padding:8px;
}
#acting{
    font-size: 8pt;
    color:white;
}
.btn_normal{
    width: 70px; 
    height: 35px; 
    border: 1px solid grey;
    margin-right: 5px;
    box-shadow: none;
    border:none;
}
#after{
    background-color: black;
}
#serial_monitor{    
    overflow: auto; 
    resize: vertical;
    min-height: 400px;
    min-width: 350px;
    margin-bottom: 15px;
}
.serialbox{
    padding:0;
    width:100%; 
    position: relative;
}

.content-box-header{
    background-color: grey;
}
.panel-footer{
    background-color: #c4c4c4;
}

textarea{
    background-color: white;
    width: 100%;
    resize: vertical;
    height: -webkit-calc(100% - 70px); 
    height:    -moz-calc(100% - 70px); 
    height:      -o-calc(100% - 70px);
    border-color: transparent;       
}

#serial_list > li{
    list-style: none;
    padding-left: 0;
    margin-left: -30px;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

#ide{
    margin-bottom: 10px;
}
#mlens_wrapper_0 {
    width: 100%;
}
#after{
    margin-bottom: 10px;
}

.zoom {
    display:inline-block;
    position: relative;
}

/* magnifying glass icon */
.zoom:after {
    content:'';
    display:block; 
    width:33px; 
    height:33px; 
    position:absolute; 
    top:0;
    right:0;
    background:url(http://relle.ufsc.br/exp_data/4/icon.png); 
}

.push-group {
    bottom:5px; 
    left:40px; 
    position:absolute; 
    display: none;
}

.pushbutton{
    bottom:5px; 
    left:0px; 
    position:absolute; 
    width:33px; 
    height:33px; 
    background-image: url(http://relle.ufsc.br/exp_data/4/button.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 3px;
    display: none;
}

.zoom img {
    width: 100%;
    display: block;
}

.zoom img:hover, .zoom img:focus, .zoom img:active {
    background-color: #fff;
}

.zoom img::selection { background-color: #fff; }

#editor{
    height:400px; 
    overflow: auto;
    font-size: 13px;
}

input#serial_input{
    margin-top: 4px;
    margin-bottom: 4px;
}

.introjs-helperNumberLayer{
    width:25px !important;
    height:25px !important;
}




#lab{
    position:relative;
    margin-bottom: 10px;
}

#diagram{
    position:relative;
    margin-bottom: 10px;
    margin-top: 10px;
}

@media screen and (max-width: 800px) {
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, 
    .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, 
    .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, 
    .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, 
    .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, 
    .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, 
    .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
        padding-left: 0px;
        padding-right: 0px;

    }
    .row {
        margin-left: 0px; 
        margin-right: 0px;
    }
    .container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 10px; 
        padding-right:10px;
    }
    h1{
        font-size: 28px;
    }
}

@media (min-width: 1200px){
    #content .container {
        width: -webkit-calc(90%); 
        width:    -moz-calc(90%); 
        width:      -o-calc(90%);
    }
    #DivExp.container, #DivExp .container{
        width: -webkit-calc(100%); 
        width:    -moz-calc(100%); 
        width:      -o-calc(100%);
    }
}

i{
    color:#117376;
}