/*
* DEFAULT
*/

body {	
    background-color: #6dd3e7;
}
h1, h2, h3{
    font-family: 'Indie Flower', cursive;
    padding:1% 1% 0 1%;

}

.app-topbar{
    background-color: rgb(92, 176, 44);
    color:white;
}
.left{
    margin-bottom: 6px;
}

/*
* LOADING PAGE
*/
.spinner {
    position: absolute;
    top: 50%;
    left: 51%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 70px;
    text-align: center;
    color:white;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% { 
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}
/*
* HOME
*/

.form-control {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    padding-bottom: 15px;
    text-align: center;
    width: 400px;

    margin-top: 100px;
    align: center;
    top: 50%;
}

.grass{
    width: 100%;
    height: 40%;   
    bottom: 0px;
    position: absolute;
    left:0px;
    background-color: green;
}

.ponta{
    background: url("../images/home/ponta_grama.gif") transparent repeat-x;
    position:absolute;
    bottom:40%;
    width: 100%;
    height: 5%;
} 

.sky{
    background: #6dd3e7;
}

.logo{
    position: absolute;
    top: 47%;
    left: 51%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 60%;

}

@media (max-width: 768px ) {
    .logo{
        height: 70%;
    }
}

@media only screen and (orientation : portrait) { 
    .logo{
        height: 40%;
    }
    .botao{
        min-width: 35%;
        height: 20%;
        font-size: 30pt;
    }
}

.botao{   
    margin-top:10%; 
    border: none; 
    border-radius: 50px;
    background-color: rgb(92, 176, 44);
    color:white;
    font-family: 'Indie Flower', cursive;

}
.botao:hover, .botao:focus, .botao:active, .botao.active, .botao.active:focus {
    background-color: rgb(32, 92, 1);
    color:white;
}
@media (min-width: 768px ) {
    .botao{
        min-width: 20%;
        height: 5%;
        font-size: 20pt;

    }

}

/*
* GROUP PAGE
*/


/*Smartphone*/
@media(max-width:767px){
    .team_member{
        width: 50%;
    }
    .animal{
        min-height: 200px;
        width: 50%;
    }
}
/*Tablet*/
@media(min-width:768px){
    .team_member{
        width: 50%;
    }
    .animal{
        min-height: 350px;
        width: 50%;
    }
}
/*Quadrado*/
@media(min-width:992px){
    .team_member{
        width: 100%;
    }
    .animal{
        min-height: 300px;
        width: 100%;
    }
}

/*Widescreen*/
@media(min-width:1200px){
    .team_member{
        width: 100%;
    }
    .animal{
        width: 100%;
        min-height:300px;
    }
}

/*
* AVATAR
*/

#avatar{
    margin-top: 10%;
    width: 60%;
}
.seta{
    height: 60px;
    margin-top: 80%;
}
/*
* MULTI/SINGLE
*/

.multi_single{
    width:60%;
    border-radius: 50%;
    margin-top:10%
}

/*
* GRUPO
*/

/*Smartphone*/
@media(max-width:767px){
    .grupo{
        width: 100%;
        height: 120px; 
        margin-top: 10%;
    }
    .info_groups{
        margin-top:85%;
        margin-left:70%;
        color:white;  
    }
    .value{
        font-size: 10pt;
    }
}
/*Tablet*/
@media(min-width:768px){
    .grupo{
        width: 100%;
        height: 200px; 
        margin-top: 10%;
    }
    .info_groups{
        margin-top:85%;
        margin-left:85%;
        color:white;  
    }
    .value{
        font-size: 10pt;
    }

}
/*Quadrado*/
@media(min-width:992px){
    .grupo{
        width: 100%;
        height: 100px; 
        margin-top: 10%;
    }
    .info_groups{
        margin-top:90%;
        margin-left:80%;
        color:white;
    }
    .value{
        font-size: 11pt;
    }
}
/*Widescreen*/
@media(min-width:1200px){
    .grupo{
        width: 100%;
        height: 190px; 
        margin-top: 10%;
    }
    .info_groups{
        margin-top:80%;
        margin-left:80%;
        color:white;
    }
    .value{
        font-size: 11pt;
    }
}

.arara_azul{
    background: url('../images/grupos/arara_azul.png') ;
    background-size: cover;
}
.baleia_franca_do_sul{
    background: url('../images/grupos/baleia_franca_do_sul.png') ;
    background-size: cover;
}
.borboleta_da_praia{
    background: url('../images/grupos/borboleta_da_praia.png') ;
    background-size: cover;
}
.cervo_do_pantanal{
    background: url('../images/grupos/cervo_do_pantanal.png') ;
    background-size: cover;
}
.gato_maracaja{
    background: url('../images/grupos/gato_maracaja.png') ;
    background-size: cover;
}
.lobo_guara{
    background: url('../images/grupos/lobo_guara.png') ;
    background-size: cover;
}
.macaco_aranha{
    background: url('../images/grupos/macaco_aranha.png') ;
    background-size: cover;
}
.mico_leao_dourado{
    background: url('../images/grupos/mico_leao_dourado.png') ;
    background-size: cover;
}
.onca_pintada{
    background: url('../images/grupos/onca_pintada.png') ;
    background-size: cover;
}
.sapo_folha{
    background: url('../images/grupos/sapo_folha.png') ;
    background-size: cover;
}
/*
* CONTROLS
*/
.draggable {
    width: 150px;
    height: 150px; 
    padding: 0.5em; 
    border: solid 1pt black;
}
#snaptarget {
    width: 200px; 
    height: 300px; 
    border: solid 2pt red;
}
.folha{
    background: url('../images/background/folha2.png');
    background-size: cover;
    height: 500px;
}

.user_box{
    background: whitesmoke;
    border-radius: 20pt;
    min-height: 100px;
    border: 2pt solid black;
    padding: 20px;
}

.cmd_box{
    background: whitesmoke;
    border-radius: 20pt;
    min-height: 300px;
    border: 2pt solid black;
    padding: 5%;
}

.cmd{
    height: 100px;
    width: 100px;
    margin: 10px;
}
.start{
    background: url('../images/botoes/play.png');
    background-size: cover;
    height: 100px;
    width: 100px;
}
.stop{
    background: url('../images/botoes/stop.png');
    background-size: cover;
    height: 100px;
    width: 100px;
    margin: 10px;
}
.espera{
    height: 108px;
    width: 108px;
    border-radius: 50%;
    border: 2pt grey dashed; 
    color: grey;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
}
#trash{
    margin-top: 10px;
    border: 2pt dashed red;
}
.user_img{
    width: 100%;
}
.user{
    border:solid 2pt white;
    border-radius: 50%;
    background: white;
}
.user_name, #teamname{
    font-family: 'Indie Flower', cursive;
    font-size: 12pt;
    text-align: center;
}
#teamname{
    font-weight: bold;
}
.ativo{
    border:3pt solid red;
}

/*Smartphone*/
@media(max-width:767px){
    .folha{
        height: 270px;
        padding-left:10px;
    }
    .cmd{
        height: 49px;
        width: 49px;
        margin-top:0;
        padding:0;
    }
    .start{
        height: 50px;
        width: 50px;
        margin: 5px;
    }
    .stop{
        height: 50px;
        width: 50px;
        margin: 5px;
    }
    .espera{
        height: 54px;
        width: 54px;
        padding-top: 13px;
        margin-top: 5px;
    }
    .cmd_box{
        min-height: 150px;
        padding:3px 10px 3px 10px;
        margin-top: -5px;
    }

    #lista{
        margin-right:5px;
    }
    #trash{
        margin-top:-3px;
        width: 80%;
    }
    .fa-trash-o{
        font-size: 15pt;
    }
    .fa-plus{
        font-size: 20pt;
    }
    .user{
        height: 60px;
        padding-top:5px;
    }

    .user_box{
        padding: 5px 5px 5px 5px;
        margin-top:5px;
    }
}
/*Tablet*/
@media(min-width:768px){
    .folha{
        height: 400px;
        padding-left:10px;
    }
    .cmd{
        height: 80px;
        width: 80px;
        margin-top:0;
        padding:0;
    }
    .start{
        height: 80px;
        width: 80px;
        margin: 5px;
    }
    .stop{
        height: 80px;
        width: 80px;
        margin: 5px;
    }
    .espera{
        height: 88px;
        width: 88px;
        padding-top: 20px;
        margin-top: 5px;
    }
    .cmd_box{
        min-height: 150px;
        padding:10px 10px 10px 20px;
        margin-top: -5px;
    }

    #lista{
        margin-right:5px;
    }
    #trash{
        margin-top:-3px;
        width: 80%;
        height: 45px;
    }
    .fa-trash-o{
        font-size: 30pt;
    }
    .fa-plus{
        font-size: 30pt;
    }
    .user{
        height: 100px;
        padding-top:10px;
        padding-left:23px;
        padding-right: 5px;
    }

    .user_box{
        padding: 5px 5px 5px 5px;
        margin-top:5px;
    }
    .user_img{
        width: 70%;
    }
    .user_name, #teamname{
        font-size: 20pt;
    }
}

/*Widescreen*/
@media(min-width:1200px){
    .folha{
        height: 400px;
        padding-left:20px;
    }
    .cmd{
        height: 90px;
        width: 90px;
        margin: 5px;
        padding-top:10px
    }
    .start{
        height: 80px;
        width: 80px;
        margin: 5px;
    }
    .stop{
        height: 80px;
        width: 80px;
        margin: 5px;
    }
    .espera{
        height: 88px;
        width: 88px;
        padding-top: 20px;
        margin-top: 5px;
    }
    .cmd_box{
        min-height: 150px;
        padding:10px 10px 10px 30px;
        margin-top: -5px;
    }

    #lista{
        margin-right:5px;
    }
    
    #trash{
        margin-top:-3px;
        width: 80%;
        height: 45px;
    }
    .fa-trash-o{
        font-size: 30pt;
        text-align: center;
        margin:0;
    }
    .fa-plus{
        font-size: 30pt;
    }
    .user{
        height: 110px;
        padding-top:10px;
        padding-left:23px;
        padding-right: 5px;
    }

    .user_box{
        padding: 5px 5px 5px 5px;
        margin-top:5px;
    }
    .user_img{
        width: 70%;
    }
    .user_name, #teamname{
        font-size: 20pt;
        text-align: center;
    }
    .order{
        min-height: 200px;
    }
}
.cima{
    background: url('../images/botoes/cima.png');
    background-size: cover;
}
.baixo{
    background: url('../images/botoes/baixo.png');
    background-size: cover;
}
.direita{
    background: url('../images/botoes/dir.png');
    background-size: cover;
}
.esquerda{
    background: url('../images/botoes/esq.png');
    background-size: cover;
}
.agarra{
    background: url('../images/botoes/agarra.png');
    background-size: cover;
}
.solta{
    background: url('../images/botoes/solta.png');
    background-size: cover;
}

.draggable{
    border: none;
}

.order{
    width: 100%;
    
}
.order > li{
    display: inline-block;
}




#puff {
    cursor:pointer;
    display:none;
    position:absolute;
    height:32px;
    width:32px;
    background: url(http://i.imgur.com/wvPeK.png) no-repeat;
}

